<web-app>

    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>ru.dionisius.service.EditUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>ru.dionisius.service.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>create</servlet-name>
        <servlet-class>ru.dionisius.service.CreateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>create</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

</web-app>