<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/users5</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">absurdus</property>

        <property name="c3p0.min_size">5</property>
        <property name="c3p0.max_size">20</property>
        <property name="c3p0.timeout">1800</property>
        <property name="c3p0.max_statements">50</property>
        <!--<property name="c3p0.idle_test_period">3000</property>-->

        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>

        <!-- Print SQL to stdout. -->
        <property name="show_sql">true</property>

        <!-- Mappings -->
        <mapping class="ru.dionisius.data.models.Car" />
        <mapping class="ru.dionisius.data.models.User" />
        <mapping class="ru.dionisius.data.models.Ad" />
    </session-factory>
</hibernate-configuration>