<?xml version="1.0" encoding="utf-8" ?>

<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:hsqldb:mem:selling_site;sql.enforce_size=false</property>
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">absurdus</property>
        <property name="dialect">ru.dionisius.MyPostgreDialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>

        <mapping resource="ru/dionisius/data/Ad.hbm.xml"/>
    </session-factory>
</hibernate-configuration>