<web-app>

    <servlet>
        <servlet-name>all_users</servlet-name>
        <servlet-class>dionisius.servlets.AllUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>all_users</servlet-name>
        <url-pattern>/add_user</url-pattern>
    </servlet-mapping>

    <!--<servlet>-->
        <!--<servlet-name>start</servlet-name>-->
        <!--<servlet-class>dionisius.servlets.StartServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>start</servlet-name>-->
        <!--<url-pattern>/</url-pattern>-->
    <!--</servlet-mapping>-->

</web-app>