<web-app>

    <servlet>
        <servlet-name>all_users</servlet-name>
        <servlet-class>ru.dionisius.servlets.AllUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>all_users</servlet-name>
        <url-pattern>/add_user</url-pattern>
    </servlet-mapping>

</web-app>